header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all 0.4s ease-in-out;

  .header-sun {
    height: 3.5vh;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.4s ease-in-out;
  }

  .header-logo {
    height: 5vh;
    width: 20vh;
    margin-left: 20px;
  }

  div {
    display: flex;
    margin-right: 10px;
    align-items: center;
  }

  button {
    height: 4vh;
    border: none;
    font-size: 1vw;
    display: none;
    padding: 0.5vh 2vw;
    color: white;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #0982ae, #33b5e5);

    @media screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }
}
