header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.4s ease-in-out;

  .header-sun {
    height: 5vh;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
}
